html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p, h1, h2, h3, h4, h5, a, button, input, textarea, select, option {
	font-family: 'Noto Serif TC'; 
	color: rgb(35, 12, 9);
}

h1, h2, h3, h4, h5, button {
	font-weight: bold;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url(../jpg/background.jpg);
	background-repeat: repeat;
 }
 
 body::-webkit-scrollbar {
	width: 1rem;        
 }
 
 body::-webkit-scrollbar-track {
	background: rgba(244, 237, 226, 0.132);      
 }
 
 body::-webkit-scrollbar-thumb {
	background-color: #537283;
	border-radius: 0.5rem;
 }
 
textarea::-webkit-scrollbar {
	width: 1rem;
	background-color: aliceblue;
}
 
textarea::-webkit-scrollbar-thumb {
	background-color: #8995b6;
}
 
textarea::-webkit-input-placeholder {
	color: #537383;
}
 
 
input, textarea {
	outline: none;
	border: none;
 }

 a {
     text-decoration: none;
}


/*скроллбол*/

html {
	--scrollbarBG: #CFD8DC;
	--thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
  
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
  
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

textarea::-webkit-scrollbar {
	width: 11px;
}

textarea {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
  
textarea::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
  
textarea::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}